html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.hidden {
  display: none;
}
.map {
  width: 100%;
  height: 92%;
  position: fixed;
  bottom: 0;
}
.ol-popup {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  bottom: 12px;
  left: -50px;
	min-width:20vw;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
/* Style for the popover closer button */
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 8px;
  color: black;
}

.ol-p {
  display: inline;
}


/* Audio player control*/
.audio-player {
  width: 100%;
}

/* Style for the 360 panorama container */
#panorama {
	display: flex;
  justify-content: center;
	width: 50vw;
  height: 30vw;
}


@media screen and (max-width: 768px) {
	#panorama {
		display: flex;
		justify-content: center;
		width: 90vw;
		height: 60vw;
	}
}

